@{
	Layout = null;
}

<!DOCTYPE html>




<html>
	<head>

	</head>

	<body>
		<form action="Main/Login" method="get">
			<label for="username">Enter your name:</label>
			<input type="text" name="username"/><br />
			<input type="submit" value="Submit"/>
		</form>
	</body>
</html>