@{
	Layout = null;
}

@model Post
<head>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js"></script>
</head>


<ul style="list-style-type: none">
	<li><a href="AddPost">Add post</a></li>
	<li><a href="ViewPosts">View Posts</a></li>
</ul>

<h1>Update the post</h1>
<form action="SaveUpdatedPost" method="post">
	<input type="hidden" name="id" value="@Model.Id" />
	<label for="topic_id">Topic ID:</label>
	<input type="number" name="topic_id" value="@Model.TopicID" />
	<label for="text">Text:</label>
	<input type="text" name="text" value="@Model.Text"/>
	<input type="submit" value="Submit" />
</form>