@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form action="Main/Login" method="post">
        Enter username : <input type="text" name="username"> <br>
        Enter password : <input type="password" name="password"> <br>
        <input type="submit" value="Login" />
    </form>
</body>
</html>
